<form class="form-horizontal">
    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Name</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" name="name" [(ngModel)]="name">
        </div>
    </div>
    <div class="form-group">
        <label for="rental-start-date" class="col-sm-3 control-label">Start date</label>
        <div class="col-sm-7">
            <input type="date" class="form-control" name="rental-start-date" [(ngModel)]="startDate">
        </div>
    </div>
    <div class="form-group">
        <label for="rental-end-date" class="col-sm-3 control-label">End date</label>
        <div class="col-sm-7">
            <input type="date" class="form-control" name="rental-end-date" [(ngModel)]="endDate">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-3">
            <button id="submit-button" class="btn btn-primary btn-block" (click)="query()"><span class="glyphicon glyphicon-search"></span> Submit query</button>
        </div>
    </div>
</form>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Description</th>
            <th class="text-center">Price</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let plant of plants">
            <td>{{plant.name}}</td>
            <td>{{plant.description}}</td>
            <td class="text-right">{{plant.price | number:'.2'}}</td>
            <td>
            <form style ='float:center; padding:5px; height:0px' ><button class="btn btn-default btn-xs">Select plant <span class="glyphicon glyphicon-ok"></span></button></form>
            </td>
        </tr>
    </tbody>
</table>
